# Ensure LVGL has the primitives needed by our custom status screen.

if ZMK_DISPLAY && ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

config MAGNUS_HP_44_CUSTOM_SCREEN_LVGL_REQUIREMENTS
    bool
    default y
    # Needed for lv_label_create() and for most text-based widgets
    select LV_OBJ_LABEL
    # Recommended for monochrome OLED
    imply LV_USE_THEME_MONO

    # Make sure at least one font exists in minimal LVGL configs
    # (Montserrat 12 is a good default for 128x32)
    select LV_FONT_MONTSERRAT_12

endif
