if SHIELD_MAGNUS_HP_44_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Magnus HP-44"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MAGNUS_HP_44_LEFT || SHIELD_MAGNUS_HP_44_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

# LVGL features your portrait renderer needs
config LV_USE_CANVAS
    default y

config LV_USE_IMG
    default y

# Font for text drawing
config LV_FONT_MONTSERRAT_12
    default y

# Give LVGL enough heap for canvas operations
config LV_Z_MEM_POOL_SIZE
    default 4096

config LV_Z_VDB_SIZE
  default 100

config LV_Z_BITS_PER_PIXEL
  default 1

choice ZMK_DISPLAY_WORK_QUEUE
  default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

choice ZMK_DISPLAY_STATUS_SCREEN
  default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice

config LV_OBJ_LABEL
    default y

config LV_FONT_MONTSERRAT_12
    default y

config LV_USE_THEME_MONO
    default y

endif # ZMK_DISPLAY

endif
